{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">My Lists</h1>

{{total}}

<div class="container">
	<div class="row">

     {% if all %}
        <div class="col-md-12">

           <div class="table-responsive">


               <table id="mytable" class="table table-bordred table-striped">


                   <thead>
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Rebort
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'filterbyweek' %}">Last week</a></li>
                          <li><a href="{% url 'filterbymonth' %}">Last month</a></li>


                        </ul>
                      </div>

                       <a href="{% url 'add-list' %}" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new List</a>
                        <tr class="backcolor">
                            <th class="text-center">ID</th>
                            <th class="text-center">Time</th>
                             <th class="text-center">Distance</th>
                             <th class="text-center">Date</th>

                            <th class="text-center">Action</th>

                        </tr>
                   </thead>
                   <tbody>
                      {% for list in all %}
                            <tr>
                            <td class="text-center">{{ list.id }}</td>
                            <td class="text-center"><a href="#">{{ list.time }}</a></td>
                                <td class="text-center"><a href="#">{{ list.distance }}</a></td>
                                <td class="text-center"><a href="#">{{ list.date }}</a></td>
                                 <td class="text-center"><a class='btn btn-info btn-xs' href="{% url 'list-update' list.id %}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="{% url 'list-delete' list.id %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>

                            </tr>
                      {% endfor %}
                   </tbody>
                </table>
           </div>
        </div>
        {% endif %}


          {% if weeks %}
        <div class="col-md-12">
{{total_price}}
           <div class="table-responsive">


               <table id="mytable2" class="table table-bordred table-striped">

                   <thead>
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Fliter
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'filterbyweek' %}">Last week</a></li>
                          <li><a href="{% url 'filterbymonth' %}">Last month</a></li>


                        </ul>
                      </div>

                        <a href="{% url 'add-list' %}" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new List</a>
                        <tr class="backcolor">
                            <th class="text-center">ID</th>
                            <th class="text-center">Time</th>
                             <th class="text-center">Distance</th>
                             <th class="text-center">Date</th>

                            <th class="text-center">Action</th>

                        </tr>
                   </thead>
                   <tbody>
                      {% for list in weeks %}
                            <tr>
                            <td class="text-center">{{ list.id }}</td>
                            <td class="text-center"><a href="#">{{ list.time }}</a></td>
                                <td class="text-center"><a href="#">{{ list.distance }}</a></td>
                                <td class="text-center"><a href="#">{{ list.date }}</a></td>
                                 <td class="text-center"><a class='btn btn-info btn-xs' href="{% url 'list-update' list.id %}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="{% url 'list-delete' list.id %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>

                            </tr>
                      {% endfor %}
                   </tbody>
                </table>
           </div>
        </div>
        {% endif %}


          {% if months %}
        <div class="col-md-12">

           <div class="table-responsive">


               <table id="mytable3" class="table table-bordred table-striped">

                   <thead>
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Fliter
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'filterbyweek' %}">Last week</a></li>
                          <li><a href="{% url 'filterbymonth' %}">Last month</a></li>


                        </ul>
                      </div>

                        <a href="{% url 'add-list' %}" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new List</a>
                        <tr class="backcolor">
                            <th class="text-center">ID</th>
                            <th class="text-center">Time</th>
                             <th class="text-center">Distance</th>
                             <th class="text-center">Date</th>

                            <th class="text-center">Action</th>

                        </tr>
                   </thead>
                   <tbody>
                      {% for list in months %}
                            <tr>
                            <td class="text-center">{{ list.id }}</td>
                            <td class="text-center"><a href="#">{{ list.time }}</a></td>
                                <td class="text-center"><a href="#">{{ list.distance }}</a></td>
                                <td class="text-center"><a href="#">{{ list.date }}</a></td>
                                 <td class="text-center"><a class='btn btn-info btn-xs' href="{% url 'list-update' list.id %}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="{% url 'list-delete' list.id %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>

                            </tr>
                      {% endfor %}
                   </tbody>
                </table>
           </div>
        </div>
        {% endif %}

    </div>
</div>





{% endblock %}